* { 
    padding:0;
    margin:0;
}
html,
body { 
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    
}

.container {
    height:100%;
    width:100%;
    display:grid; 
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;

}

.sidebar { 
    
    background-color: rgb(199, 116, 255);
    grid-area: sidebar;

}

.header{ 
    background-color: rgb(248, 248, 248);
    grid-area:header;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}

.main { 
    background-color: rgb(235 239 244);
    grid-area:main;
    
}


.sidebarcontainer { 
    height:50%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "dashboard"
        "navigation"
        "settings"
    ;
    
    font-size: 1em;
    color:white;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right:20%;
    margin-left:5%;


}

.dashboard { 
    grid-area: dashboard;
    display:grid; 
    grid-template-columns: repeat(2, 1fr);
    list-style:none;
    margin-top:10px;

}

.navigation {
    grid-area:navigation;
    display:grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    list-style:none;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-row-gap:5px;
    
    
}

.settings { 
    grid-area:settings;
    display:grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    list-style: none;
    grid-row-gap:5px;
    
    
}

.dashboard .word1 { 
    font-size: 1.5em;
    color:white;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


ul.dashboard svg { 
    height:60px; 
    width: auto;
}

.sidebar svg { 
    fill:white;
    height:30px; 
    width:auto;
   
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 { 
    justify-self: center;
}


/* Header styling*/

.header { 
    display:grid;
    grid-template-rows: 1fr 1fr;
    
}

.topheader { 
    display:grid; 
    grid-template-columns: 1fr 6fr 3fr ;
    padding:10px;
    align-items: center;
}

.iconscontainer { 
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    

}

div.subscribeIcon { 
    justify-self: end;
}


input#search { 
    width:80%;
    height:30px;
    border-radius: 10px;
    background-color: rgb(207, 214, 223);
    border:none;

}

.searchIcon svg  { 
    height:20px; 
    width:auto;
    margin-left:80%;
    
}

.subscribeIcon svg {
    height:30px; 
    width:auto;
    
}

div.guitarIcon-container { 
    justify-self: center;
}

.guitarIcon { 
    background-color:rgb(199, 116, 255);
    border-radius:95px;
    justify-self: center;
}

.guitarIcon svg { 
    height:50px; 
    width:auto;
}

.toplogo-text {

    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
}

